.App {
  min-height: 100%;
  background: #ddd;
  font-family: 'Rosario', sans-serif;
}

.form-label {
  font-weight: bold;
}

.form-check-label {
  color: #222 !important;
}

.presetImage:hover {
  opacity: 0.8;
}


.fixedCenter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
