input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.6px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
    background: #28a745;
    border-radius: 19.6px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 18px;
    width: 13px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #28a745;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
    background: #28a745;
    border-radius: 19.6px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 18px;
    width: 13px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #28a745;
    border: 0px solid #000101;
    border-radius: 39.2px;
    box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #28a745;
    border: 0px solid #000101;
    border-radius: 39.2px;
    box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 18px;
    width: 13px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    height: 6.8px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #28a745;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #28a745;
  }
  